@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';
@import 'partials/functions';
@import 'partials/keyframes';
@import 'partials/mixins';

@import url('https://fonts.googleapis.com/css?family=Open+Sans: 400, 600, 700');

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 601px) and (max-width: 900px)";
$large: "(min-width: 900px)";

@mixin small{
  @media #{$small} {
    @content;
  }
}

@mixin medium{
  @media #{$medium} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, $navyBlue);
  a{
    color: #FFF;
    text-decoration: none;
  }
  a:visited{
    color: #FFF;
    text-decoration: none;
  }
}
.content-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.content-wrapper{
  display: block;
  align-content: space-around;
  min-height: 100%;
}
//// STYLES FOR THE ABOUT, HOME, AND WORK ////
#about, #home, .notfound-contain, #work{
  margin-top: 50px;
  padding-top: 50px;
  height: 400px;
}
#about{
  h3{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
//// STYLES FOR THE SKIES ////
.skies{
  background-image: url('/images/skies.png');
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
//// STYLES FOR THE MOON ////
.moon{
  left: 0;
  top: 0;
  right: 0;
  margin: 80px auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 30px 10px #FFF;
  position: absolute;
}
//// STYLES FOR THE STARS ////
.star{
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.one{
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: $small-shadow;
  animation: twinkle 0.5s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 0.5px;
    height: 0.5px;
    background: transparent;
    box-shadow: $small-shadow;
  }
}
.two{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $medium-shadow;
  animation: twinkle 0.9s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $medium-shadow;
  }
}
.three{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $large-shadow;
  animation: twinkle 2s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $large-shadow;
  } 
}
//// STYLES FOR THE NAV BAR ////
.nav{
  position: fixed;
  right: 0;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li{
    float: left;
  }
  li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  li a:hover:not(.active){
    background-color: $navyBlue;
  }
  .active{
    background-color: $navyBlue;
  }
}
.nav > a{
  display: inline-block;
}
//// FLEX FOR THE CHILD COMPONENT FOR THE WORK ////
.sites{
  display: flex;
  justify-content: space-around;
}
//// IMAGES FOR THE LINKS FOR THE WEBSITE ////
.works{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('/images/placeholder.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 30px 10px $lightgrey;
  border-radius: 50%;
  margin: 50px;
  border: 8px solid #FFF;
  h4{
    width: 100px;
    vertical-align: bottom;
    margin-bottom: 10px;
    padding: 0;
    display: table-row;
    font-size: 0.9rem;
    align-self: flex-end;
  }
  h4:after{
    content: ' ';
    display: flex;
  }
  &:hover{
    border: 8px solid $yellow;
    box-shadow: 0 0 30px 10px $yellow;
  }
}
//// STYLES FOR THE FOOTER ////
.footer{
  width: 100%;
  background-color: $navyBlue;
  text-align: center;
  color: #f0f0f0;
  height: 4em;
  padding-top: 2rem;
}