@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';

@import url('https://fonts.googleapis.com/css?family=Open+Sans: 400, 600');

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 601px) and (max-width: 900px)";
$large: "(min-width: 900px)";

@mixin small{
  @media #{$small} {
    @content;
  }
}

@mixin medium{
  @media #{$medium} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, $navyBlue);
  a{
    color: #FFF;
    text-decoration: none;
  }
  a:visited{
    color: #FFF;
    text-decoration: none;
  }
}
html{
  overflow: hidden;
}
.content-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.content-wrapper{
  display: block;
  align-content: space-between;
  min-height: 100%;
}

#about, #home, .notfound-contain, #work{
  margin-top: 50px;
  padding-top: 50px;
}
.skies{
  background-image: url('/images/skies.png');
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.moon{
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 30px 10px #FFF;
}
.nav{
  position: fixed;
  right: 0;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li{
    float: left;
  }
  li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  li a:hover:not(.active){
    background-color: $navyBlue;
  }
  .active{
    background-color: $navyBlue;
  }
}

.nav > a{
  display: inline-block;
}

.footer{
  width: 100%;
  background-color: $navyBlue;
  text-align: center;
  color: #f0f0f0;
  height: 4em;
  padding-top: 2rem;
}