/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans: 400, 600, 700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: scale(0);
    opacity: 1; }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes twinkle {
  0% {
    -moz-transform: scale(1);
    opacity: 1; }
  25% {
    -moz-transform: scale(0.5);
    opacity: 0; }
  50% {
    -moz-transform: scale(1);
    opacity: 1; }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, #011627); }
  body a {
    color: #FFF;
    text-decoration: none; }
  body a:visited {
    color: #FFF;
    text-decoration: none; }

.content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.content-wrapper {
  display: block;
  align-content: space-around;
  min-height: 100%; }

#about, #home, .notfound-contain, #work {
  margin-top: 50px;
  padding-top: 50px;
  height: 40vh; }

#about h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px; }

.skies {
  background-image: url("/images/skies.png");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.moon {
  left: 0;
  top: 0;
  right: 0;
  margin: 80px auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 30px 10px #FFF;
  position: absolute; }

.star {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.one {
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: 575px 86px #F0F0F0, 4554px 24px #F0F0F0, 1175px 225px #F0F0F0, 2607px 268px #F0F0F0, 1177px 20px #F0F0F0, 2831px 225px #F0F0F0, 3975px 56px #F0F0F0, 3369px 280px #F0F0F0, 1485px 212px #F0F0F0, 4861px 273px #F0F0F0, 5810px 167px #F0F0F0, 3921px 198px #F0F0F0, 1957px 126px #F0F0F0, 240px 278px #F0F0F0, 5398px 36px #F0F0F0, 5555px 240px #F0F0F0, 4157px 151px #F0F0F0, 1388px 214px #F0F0F0, 3422px 71px #F0F0F0, 2356px 220px #F0F0F0, 41px 51px #F0F0F0, 5617px 224px #F0F0F0, 3420px 286px #F0F0F0, 4145px 197px #F0F0F0, 634px 173px #F0F0F0, 5372px 33px #F0F0F0, 1075px 154px #F0F0F0, 1221px 260px #F0F0F0, 2599px 191px #F0F0F0, 1308px 218px #F0F0F0, 2234px 11px #F0F0F0, 4146px 145px #F0F0F0, 2267px 271px #F0F0F0, 4718px 77px #F0F0F0, 5095px 56px #F0F0F0, 4490px 123px #F0F0F0, 1236px 236px #F0F0F0, 351px 151px #F0F0F0, 717px 23px #F0F0F0, 4809px 238px #F0F0F0, 1275px 250px #F0F0F0, 4174px 155px #F0F0F0, 1687px 94px #F0F0F0, 4261px 214px #F0F0F0, 1644px 211px #F0F0F0, 528px 70px #F0F0F0, 5501px 125px #F0F0F0, 1585px 57px #F0F0F0, 5545px 126px #F0F0F0, 4084px 77px #F0F0F0, 3349px 122px #F0F0F0, 4725px 71px #F0F0F0, 2318px 155px #F0F0F0, 4234px 180px #F0F0F0, 294px 31px #F0F0F0, 2069px 297px #F0F0F0, 2260px 253px #F0F0F0, 1158px 89px #F0F0F0, 2008px 10px #F0F0F0, 2622px 79px #F0F0F0, 4637px 183px #F0F0F0, 3430px 235px #F0F0F0, 4636px 112px #F0F0F0, 4060px 129px #F0F0F0, 1775px 151px #F0F0F0, 1147px 4px #F0F0F0, 4838px 149px #F0F0F0, 4177px 75px #F0F0F0, 3978px 199px #F0F0F0, 3734px 290px #F0F0F0, 3485px 285px #F0F0F0, 5990px 136px #F0F0F0, 1348px 136px #F0F0F0, 825px 253px #F0F0F0, 926px 18px #F0F0F0, 1238px 119px #F0F0F0, 439px 15px #F0F0F0, 438px 153px #F0F0F0, 4043px 117px #F0F0F0, 3332px 76px #F0F0F0, 5887px 112px #F0F0F0, 1923px 121px #F0F0F0, 4108px 30px #F0F0F0, 5302px 34px #F0F0F0, 5397px 285px #F0F0F0, 1187px 91px #F0F0F0, 2950px 62px #F0F0F0, 4024px 99px #F0F0F0, 5142px 155px #F0F0F0, 2073px 224px #F0F0F0, 4194px 47px #F0F0F0, 2651px 59px #F0F0F0, 2111px 233px #F0F0F0, 5649px 234px #F0F0F0, 2758px 249px #F0F0F0, 1884px 262px #F0F0F0, 4569px 87px #F0F0F0, 3253px 96px #F0F0F0, 1534px 70px #F0F0F0, 1117px 207px #F0F0F0, 1545px 60px #F0F0F0, 1131px 170px #F0F0F0, 207px 283px #F0F0F0, 2728px 176px #F0F0F0, 1423px 192px #F0F0F0, 238px 97px #F0F0F0, 5068px 172px #F0F0F0, 2889px 8px #F0F0F0, 467px 158px #F0F0F0, 3839px 245px #F0F0F0, 326px 28px #F0F0F0, 4083px 281px #F0F0F0, 2813px 107px #F0F0F0, 3104px 40px #F0F0F0, 2615px 291px #F0F0F0, 2433px 68px #F0F0F0, 121px 96px #F0F0F0, 5792px 43px #F0F0F0, 748px 54px #F0F0F0, 3106px 262px #F0F0F0, 733px 58px #F0F0F0, 3818px 134px #F0F0F0, 3077px 68px #F0F0F0, 5836px 49px #F0F0F0, 1619px 65px #F0F0F0, 2705px 213px #F0F0F0, 3703px 193px #F0F0F0, 3372px 100px #F0F0F0, 2409px 58px #F0F0F0, 1002px 145px #F0F0F0, 2518px 293px #F0F0F0, 925px 263px #F0F0F0, 5786px 198px #F0F0F0, 1137px 169px #F0F0F0, 270px 202px #F0F0F0, 4785px 254px #F0F0F0, 2703px 222px #F0F0F0, 2933px 264px #F0F0F0, 4428px 258px #F0F0F0, 2499px 162px #F0F0F0, 4717px 7px #F0F0F0, 4359px 164px #F0F0F0, 3410px 102px #F0F0F0, 748px 260px #F0F0F0, 660px 215px #F0F0F0, 301px 233px #F0F0F0, 907px 181px #F0F0F0, 2227px 34px #F0F0F0, 3467px 146px #F0F0F0, 1979px 102px #F0F0F0, 3999px 119px #F0F0F0, 757px 247px #F0F0F0, 1389px 46px #F0F0F0, 579px 142px #F0F0F0, 3547px 253px #F0F0F0, 4262px 198px #F0F0F0, 4266px 191px #F0F0F0, 1531px 31px #F0F0F0, 5844px 78px #F0F0F0, 1965px 208px #F0F0F0, 4527px 30px #F0F0F0, 1242px 148px #F0F0F0, 3418px 257px #F0F0F0, 3317px 254px #F0F0F0, 2342px 257px #F0F0F0, 5873px 229px #F0F0F0, 4628px 78px #F0F0F0, 4394px 122px #F0F0F0, 3334px 184px #F0F0F0, 4240px 98px #F0F0F0, 588px 202px #F0F0F0, 3207px 33px #F0F0F0, 243px 152px #F0F0F0, 5400px 230px #F0F0F0, 1009px 174px #F0F0F0, 4995px 203px #F0F0F0, 5493px 152px #F0F0F0, 2826px 22px #F0F0F0, 5977px 187px #F0F0F0, 5956px 265px #F0F0F0, 4169px 186px #F0F0F0, 3345px 92px #F0F0F0, 842px 104px #F0F0F0, 3540px 211px #F0F0F0, 4437px 49px #F0F0F0, 5539px 212px #F0F0F0, 3131px 203px #F0F0F0, 813px 277px #F0F0F0, 4550px 17px #F0F0F0, 3200px 267px #F0F0F0, 4893px 216px #F0F0F0, 2864px 256px #F0F0F0, 2760px 244px #F0F0F0, 2850px 174px #F0F0F0, 2625px 110px #F0F0F0, 4244px 20px #F0F0F0, 3827px 41px #F0F0F0, 4809px 65px #F0F0F0, 987px 9px #F0F0F0, 1171px 97px #F0F0F0;
  animation: twinkle 0.5s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .one:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 0.5px;
    height: 0.5px;
    background: transparent;
    box-shadow: 575px 86px #F0F0F0, 4554px 24px #F0F0F0, 1175px 225px #F0F0F0, 2607px 268px #F0F0F0, 1177px 20px #F0F0F0, 2831px 225px #F0F0F0, 3975px 56px #F0F0F0, 3369px 280px #F0F0F0, 1485px 212px #F0F0F0, 4861px 273px #F0F0F0, 5810px 167px #F0F0F0, 3921px 198px #F0F0F0, 1957px 126px #F0F0F0, 240px 278px #F0F0F0, 5398px 36px #F0F0F0, 5555px 240px #F0F0F0, 4157px 151px #F0F0F0, 1388px 214px #F0F0F0, 3422px 71px #F0F0F0, 2356px 220px #F0F0F0, 41px 51px #F0F0F0, 5617px 224px #F0F0F0, 3420px 286px #F0F0F0, 4145px 197px #F0F0F0, 634px 173px #F0F0F0, 5372px 33px #F0F0F0, 1075px 154px #F0F0F0, 1221px 260px #F0F0F0, 2599px 191px #F0F0F0, 1308px 218px #F0F0F0, 2234px 11px #F0F0F0, 4146px 145px #F0F0F0, 2267px 271px #F0F0F0, 4718px 77px #F0F0F0, 5095px 56px #F0F0F0, 4490px 123px #F0F0F0, 1236px 236px #F0F0F0, 351px 151px #F0F0F0, 717px 23px #F0F0F0, 4809px 238px #F0F0F0, 1275px 250px #F0F0F0, 4174px 155px #F0F0F0, 1687px 94px #F0F0F0, 4261px 214px #F0F0F0, 1644px 211px #F0F0F0, 528px 70px #F0F0F0, 5501px 125px #F0F0F0, 1585px 57px #F0F0F0, 5545px 126px #F0F0F0, 4084px 77px #F0F0F0, 3349px 122px #F0F0F0, 4725px 71px #F0F0F0, 2318px 155px #F0F0F0, 4234px 180px #F0F0F0, 294px 31px #F0F0F0, 2069px 297px #F0F0F0, 2260px 253px #F0F0F0, 1158px 89px #F0F0F0, 2008px 10px #F0F0F0, 2622px 79px #F0F0F0, 4637px 183px #F0F0F0, 3430px 235px #F0F0F0, 4636px 112px #F0F0F0, 4060px 129px #F0F0F0, 1775px 151px #F0F0F0, 1147px 4px #F0F0F0, 4838px 149px #F0F0F0, 4177px 75px #F0F0F0, 3978px 199px #F0F0F0, 3734px 290px #F0F0F0, 3485px 285px #F0F0F0, 5990px 136px #F0F0F0, 1348px 136px #F0F0F0, 825px 253px #F0F0F0, 926px 18px #F0F0F0, 1238px 119px #F0F0F0, 439px 15px #F0F0F0, 438px 153px #F0F0F0, 4043px 117px #F0F0F0, 3332px 76px #F0F0F0, 5887px 112px #F0F0F0, 1923px 121px #F0F0F0, 4108px 30px #F0F0F0, 5302px 34px #F0F0F0, 5397px 285px #F0F0F0, 1187px 91px #F0F0F0, 2950px 62px #F0F0F0, 4024px 99px #F0F0F0, 5142px 155px #F0F0F0, 2073px 224px #F0F0F0, 4194px 47px #F0F0F0, 2651px 59px #F0F0F0, 2111px 233px #F0F0F0, 5649px 234px #F0F0F0, 2758px 249px #F0F0F0, 1884px 262px #F0F0F0, 4569px 87px #F0F0F0, 3253px 96px #F0F0F0, 1534px 70px #F0F0F0, 1117px 207px #F0F0F0, 1545px 60px #F0F0F0, 1131px 170px #F0F0F0, 207px 283px #F0F0F0, 2728px 176px #F0F0F0, 1423px 192px #F0F0F0, 238px 97px #F0F0F0, 5068px 172px #F0F0F0, 2889px 8px #F0F0F0, 467px 158px #F0F0F0, 3839px 245px #F0F0F0, 326px 28px #F0F0F0, 4083px 281px #F0F0F0, 2813px 107px #F0F0F0, 3104px 40px #F0F0F0, 2615px 291px #F0F0F0, 2433px 68px #F0F0F0, 121px 96px #F0F0F0, 5792px 43px #F0F0F0, 748px 54px #F0F0F0, 3106px 262px #F0F0F0, 733px 58px #F0F0F0, 3818px 134px #F0F0F0, 3077px 68px #F0F0F0, 5836px 49px #F0F0F0, 1619px 65px #F0F0F0, 2705px 213px #F0F0F0, 3703px 193px #F0F0F0, 3372px 100px #F0F0F0, 2409px 58px #F0F0F0, 1002px 145px #F0F0F0, 2518px 293px #F0F0F0, 925px 263px #F0F0F0, 5786px 198px #F0F0F0, 1137px 169px #F0F0F0, 270px 202px #F0F0F0, 4785px 254px #F0F0F0, 2703px 222px #F0F0F0, 2933px 264px #F0F0F0, 4428px 258px #F0F0F0, 2499px 162px #F0F0F0, 4717px 7px #F0F0F0, 4359px 164px #F0F0F0, 3410px 102px #F0F0F0, 748px 260px #F0F0F0, 660px 215px #F0F0F0, 301px 233px #F0F0F0, 907px 181px #F0F0F0, 2227px 34px #F0F0F0, 3467px 146px #F0F0F0, 1979px 102px #F0F0F0, 3999px 119px #F0F0F0, 757px 247px #F0F0F0, 1389px 46px #F0F0F0, 579px 142px #F0F0F0, 3547px 253px #F0F0F0, 4262px 198px #F0F0F0, 4266px 191px #F0F0F0, 1531px 31px #F0F0F0, 5844px 78px #F0F0F0, 1965px 208px #F0F0F0, 4527px 30px #F0F0F0, 1242px 148px #F0F0F0, 3418px 257px #F0F0F0, 3317px 254px #F0F0F0, 2342px 257px #F0F0F0, 5873px 229px #F0F0F0, 4628px 78px #F0F0F0, 4394px 122px #F0F0F0, 3334px 184px #F0F0F0, 4240px 98px #F0F0F0, 588px 202px #F0F0F0, 3207px 33px #F0F0F0, 243px 152px #F0F0F0, 5400px 230px #F0F0F0, 1009px 174px #F0F0F0, 4995px 203px #F0F0F0, 5493px 152px #F0F0F0, 2826px 22px #F0F0F0, 5977px 187px #F0F0F0, 5956px 265px #F0F0F0, 4169px 186px #F0F0F0, 3345px 92px #F0F0F0, 842px 104px #F0F0F0, 3540px 211px #F0F0F0, 4437px 49px #F0F0F0, 5539px 212px #F0F0F0, 3131px 203px #F0F0F0, 813px 277px #F0F0F0, 4550px 17px #F0F0F0, 3200px 267px #F0F0F0, 4893px 216px #F0F0F0, 2864px 256px #F0F0F0, 2760px 244px #F0F0F0, 2850px 174px #F0F0F0, 2625px 110px #F0F0F0, 4244px 20px #F0F0F0, 3827px 41px #F0F0F0, 4809px 65px #F0F0F0, 987px 9px #F0F0F0, 1171px 97px #F0F0F0; }

.two {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 3824px 73px #F0F0F0, 1560px 47px #F0F0F0, 5640px 171px #F0F0F0, 5389px 202px #F0F0F0, 4900px 72px #F0F0F0, 3136px 63px #F0F0F0, 955px 137px #F0F0F0, 1099px 67px #F0F0F0, 4867px 15px #F0F0F0, 5848px 234px #F0F0F0, 5694px 274px #F0F0F0, 5427px 105px #F0F0F0, 4445px 232px #F0F0F0, 1237px 139px #F0F0F0, 153px 104px #F0F0F0, 3063px 156px #F0F0F0, 4232px 82px #F0F0F0, 4445px 91px #F0F0F0, 4275px 98px #F0F0F0, 2328px 292px #F0F0F0, 2747px 111px #F0F0F0, 233px 151px #F0F0F0, 4043px 217px #F0F0F0, 2045px 19px #F0F0F0, 502px 285px #F0F0F0, 5675px 272px #F0F0F0, 3287px 238px #F0F0F0, 2378px 183px #F0F0F0, 1553px 196px #F0F0F0, 3378px 31px #F0F0F0, 1031px 161px #F0F0F0, 4124px 207px #F0F0F0, 1839px 126px #F0F0F0, 4230px 266px #F0F0F0, 1486px 164px #F0F0F0, 1747px 16px #F0F0F0, 2090px 191px #F0F0F0, 4939px 26px #F0F0F0, 5946px 297px #F0F0F0, 3323px 18px #F0F0F0, 5137px 280px #F0F0F0, 4617px 104px #F0F0F0, 1889px 125px #F0F0F0, 5319px 212px #F0F0F0, 5852px 71px #F0F0F0, 1314px 226px #F0F0F0, 1781px 244px #F0F0F0, 5440px 108px #F0F0F0, 2391px 65px #F0F0F0, 2391px 213px #F0F0F0, 1375px 167px #F0F0F0, 2548px 238px #F0F0F0, 5073px 153px #F0F0F0, 1514px 89px #F0F0F0, 3883px 245px #F0F0F0, 4400px 54px #F0F0F0, 388px 236px #F0F0F0, 4044px 193px #F0F0F0, 1315px 134px #F0F0F0, 5031px 277px #F0F0F0, 997px 16px #F0F0F0, 22px 146px #F0F0F0, 3017px 154px #F0F0F0, 3345px 288px #F0F0F0, 5657px 56px #F0F0F0, 4930px 194px #F0F0F0, 4776px 19px #F0F0F0, 2770px 222px #F0F0F0, 3471px 2px #F0F0F0, 5017px 183px #F0F0F0, 632px 211px #F0F0F0, 4955px 150px #F0F0F0, 5507px 133px #F0F0F0, 2236px 9px #F0F0F0, 1158px 72px #F0F0F0, 1047px 31px #F0F0F0, 4331px 113px #F0F0F0, 4014px 281px #F0F0F0, 1568px 166px #F0F0F0, 4858px 246px #F0F0F0, 4149px 88px #F0F0F0, 2559px 129px #F0F0F0, 88px 119px #F0F0F0, 3682px 166px #F0F0F0, 2755px 52px #F0F0F0, 292px 28px #F0F0F0, 3379px 34px #F0F0F0, 4188px 230px #F0F0F0, 4739px 107px #F0F0F0, 1760px 293px #F0F0F0, 4933px 279px #F0F0F0, 5746px 286px #F0F0F0, 970px 298px #F0F0F0, 1700px 232px #F0F0F0, 447px 205px #F0F0F0, 323px 44px #F0F0F0, 3726px 291px #F0F0F0, 957px 99px #F0F0F0, 907px 286px #F0F0F0, 2693px 280px #F0F0F0;
  animation: twinkle 0.9s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .two:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 3824px 73px #F0F0F0, 1560px 47px #F0F0F0, 5640px 171px #F0F0F0, 5389px 202px #F0F0F0, 4900px 72px #F0F0F0, 3136px 63px #F0F0F0, 955px 137px #F0F0F0, 1099px 67px #F0F0F0, 4867px 15px #F0F0F0, 5848px 234px #F0F0F0, 5694px 274px #F0F0F0, 5427px 105px #F0F0F0, 4445px 232px #F0F0F0, 1237px 139px #F0F0F0, 153px 104px #F0F0F0, 3063px 156px #F0F0F0, 4232px 82px #F0F0F0, 4445px 91px #F0F0F0, 4275px 98px #F0F0F0, 2328px 292px #F0F0F0, 2747px 111px #F0F0F0, 233px 151px #F0F0F0, 4043px 217px #F0F0F0, 2045px 19px #F0F0F0, 502px 285px #F0F0F0, 5675px 272px #F0F0F0, 3287px 238px #F0F0F0, 2378px 183px #F0F0F0, 1553px 196px #F0F0F0, 3378px 31px #F0F0F0, 1031px 161px #F0F0F0, 4124px 207px #F0F0F0, 1839px 126px #F0F0F0, 4230px 266px #F0F0F0, 1486px 164px #F0F0F0, 1747px 16px #F0F0F0, 2090px 191px #F0F0F0, 4939px 26px #F0F0F0, 5946px 297px #F0F0F0, 3323px 18px #F0F0F0, 5137px 280px #F0F0F0, 4617px 104px #F0F0F0, 1889px 125px #F0F0F0, 5319px 212px #F0F0F0, 5852px 71px #F0F0F0, 1314px 226px #F0F0F0, 1781px 244px #F0F0F0, 5440px 108px #F0F0F0, 2391px 65px #F0F0F0, 2391px 213px #F0F0F0, 1375px 167px #F0F0F0, 2548px 238px #F0F0F0, 5073px 153px #F0F0F0, 1514px 89px #F0F0F0, 3883px 245px #F0F0F0, 4400px 54px #F0F0F0, 388px 236px #F0F0F0, 4044px 193px #F0F0F0, 1315px 134px #F0F0F0, 5031px 277px #F0F0F0, 997px 16px #F0F0F0, 22px 146px #F0F0F0, 3017px 154px #F0F0F0, 3345px 288px #F0F0F0, 5657px 56px #F0F0F0, 4930px 194px #F0F0F0, 4776px 19px #F0F0F0, 2770px 222px #F0F0F0, 3471px 2px #F0F0F0, 5017px 183px #F0F0F0, 632px 211px #F0F0F0, 4955px 150px #F0F0F0, 5507px 133px #F0F0F0, 2236px 9px #F0F0F0, 1158px 72px #F0F0F0, 1047px 31px #F0F0F0, 4331px 113px #F0F0F0, 4014px 281px #F0F0F0, 1568px 166px #F0F0F0, 4858px 246px #F0F0F0, 4149px 88px #F0F0F0, 2559px 129px #F0F0F0, 88px 119px #F0F0F0, 3682px 166px #F0F0F0, 2755px 52px #F0F0F0, 292px 28px #F0F0F0, 3379px 34px #F0F0F0, 4188px 230px #F0F0F0, 4739px 107px #F0F0F0, 1760px 293px #F0F0F0, 4933px 279px #F0F0F0, 5746px 286px #F0F0F0, 970px 298px #F0F0F0, 1700px 232px #F0F0F0, 447px 205px #F0F0F0, 323px 44px #F0F0F0, 3726px 291px #F0F0F0, 957px 99px #F0F0F0, 907px 286px #F0F0F0, 2693px 280px #F0F0F0; }

.three {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 5351px 300px #F0F0F0, 4584px 38px #F0F0F0, 5018px 267px #F0F0F0, 1252px 218px #F0F0F0, 2737px 209px #F0F0F0, 3756px 105px #F0F0F0, 2918px 57px #F0F0F0, 4419px 51px #F0F0F0, 5395px 20px #F0F0F0, 717px 278px #F0F0F0, 2243px 137px #F0F0F0, 5269px 296px #F0F0F0, 1250px 15px #F0F0F0, 5486px 199px #F0F0F0, 5605px 209px #F0F0F0, 101px 123px #F0F0F0, 1863px 201px #F0F0F0, 1874px 17px #F0F0F0, 4348px 106px #F0F0F0, 3416px 287px #F0F0F0, 4603px 227px #F0F0F0, 2513px 64px #F0F0F0, 875px 69px #F0F0F0, 87px 213px #F0F0F0, 3109px 65px #F0F0F0, 461px 82px #F0F0F0, 183px 81px #F0F0F0, 1047px 239px #F0F0F0, 2184px 252px #F0F0F0, 288px 31px #F0F0F0, 4979px 272px #F0F0F0, 2237px 4px #F0F0F0, 802px 120px #F0F0F0, 1684px 260px #F0F0F0, 224px 108px #F0F0F0, 4139px 260px #F0F0F0, 2159px 54px #F0F0F0, 945px 128px #F0F0F0, 2174px 236px #F0F0F0, 1152px 261px #F0F0F0, 2307px 150px #F0F0F0, 837px 219px #F0F0F0, 5167px 257px #F0F0F0, 1613px 209px #F0F0F0, 1141px 172px #F0F0F0, 146px 25px #F0F0F0, 1392px 289px #F0F0F0, 5828px 219px #F0F0F0, 3559px 229px #F0F0F0, 5925px 168px #F0F0F0;
  animation: twinkle 2s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .three:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 5351px 300px #F0F0F0, 4584px 38px #F0F0F0, 5018px 267px #F0F0F0, 1252px 218px #F0F0F0, 2737px 209px #F0F0F0, 3756px 105px #F0F0F0, 2918px 57px #F0F0F0, 4419px 51px #F0F0F0, 5395px 20px #F0F0F0, 717px 278px #F0F0F0, 2243px 137px #F0F0F0, 5269px 296px #F0F0F0, 1250px 15px #F0F0F0, 5486px 199px #F0F0F0, 5605px 209px #F0F0F0, 101px 123px #F0F0F0, 1863px 201px #F0F0F0, 1874px 17px #F0F0F0, 4348px 106px #F0F0F0, 3416px 287px #F0F0F0, 4603px 227px #F0F0F0, 2513px 64px #F0F0F0, 875px 69px #F0F0F0, 87px 213px #F0F0F0, 3109px 65px #F0F0F0, 461px 82px #F0F0F0, 183px 81px #F0F0F0, 1047px 239px #F0F0F0, 2184px 252px #F0F0F0, 288px 31px #F0F0F0, 4979px 272px #F0F0F0, 2237px 4px #F0F0F0, 802px 120px #F0F0F0, 1684px 260px #F0F0F0, 224px 108px #F0F0F0, 4139px 260px #F0F0F0, 2159px 54px #F0F0F0, 945px 128px #F0F0F0, 2174px 236px #F0F0F0, 1152px 261px #F0F0F0, 2307px 150px #F0F0F0, 837px 219px #F0F0F0, 5167px 257px #F0F0F0, 1613px 209px #F0F0F0, 1141px 172px #F0F0F0, 146px 25px #F0F0F0, 1392px 289px #F0F0F0, 5828px 219px #F0F0F0, 3559px 229px #F0F0F0, 5925px 168px #F0F0F0; }

.nav {
  position: fixed;
  right: 0; }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .nav li {
    float: left; }
  .nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px; }
  .nav li a:hover:not(.active) {
    background-color: #011627; }
  .nav .active {
    background-color: #011627; }

.nav > a {
  display: inline-block; }

.sites {
  display: flex;
  justify-content: space-around; }

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/images/placeholder.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 30px 10px #F0F0F0;
  border-radius: 50%;
  margin: 50px;
  border: 8px solid #FFF; }
  .works h4 {
    width: 100px;
    vertical-align: bottom;
    margin-bottom: 10px;
    padding: 0;
    display: table-row;
    font-size: 0.9rem;
    align-self: flex-end; }
  .works h4:after {
    content: ' ';
    display: flex; }
  .works:hover {
    border: 8px solid #F4F0C3;
    box-shadow: 0 0 30px 10px #F4F0C3; }

.footer {
  width: 100%;
  background-color: #011627;
  text-align: center;
  color: #f0f0f0;
  height: 4em;
  padding-top: 2rem; }
