/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans: 400, 600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: scale(0);
    opacity: 1; }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes twinkle {
  0% {
    -moz-transform: scale(1);
    opacity: 1; }
  25% {
    -moz-transform: scale(0.5);
    opacity: 0; }
  50% {
    -moz-transform: scale(1);
    opacity: 1; }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, #011627); }
  body a {
    color: #FFF;
    text-decoration: none; }
  body a:visited {
    color: #FFF;
    text-decoration: none; }

html {
  overflow: hidden; }

.content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.content-wrapper {
  display: block;
  align-content: space-around;
  min-height: 100%; }

#about, #home, .notfound-contain, #work {
  margin-top: 50px;
  padding-top: 50px; }

.skies {
  background-image: url("/images/skies.png");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.moon {
  left: 0;
  top: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 30px 10px #FFF; }

.star {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.one {
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: 1966px 60px #F0F0F0, 2219px 255px #F0F0F0, 245px 168px #F0F0F0, 3508px 271px #F0F0F0, 739px 282px #F0F0F0, 1048px 33px #F0F0F0, 680px 116px #F0F0F0, 2518px 118px #F0F0F0, 4478px 216px #F0F0F0, 109px 137px #F0F0F0, 3180px 213px #F0F0F0, 3995px 17px #F0F0F0, 4553px 123px #F0F0F0, 861px 140px #F0F0F0, 1571px 137px #F0F0F0, 5762px 27px #F0F0F0, 5326px 93px #F0F0F0, 3955px 150px #F0F0F0, 4148px 119px #F0F0F0, 2768px 204px #F0F0F0, 5354px 178px #F0F0F0, 2827px 136px #F0F0F0, 516px 267px #F0F0F0, 5788px 178px #F0F0F0, 1518px 31px #F0F0F0, 1170px 163px #F0F0F0, 2489px 28px #F0F0F0, 303px 75px #F0F0F0, 2444px 88px #F0F0F0, 3537px 43px #F0F0F0, 2843px 47px #F0F0F0, 3252px 49px #F0F0F0, 5482px 94px #F0F0F0, 5993px 269px #F0F0F0, 5392px 46px #F0F0F0, 2738px 16px #F0F0F0, 2144px 253px #F0F0F0, 3308px 224px #F0F0F0, 4444px 220px #F0F0F0, 3952px 36px #F0F0F0, 692px 57px #F0F0F0, 382px 102px #F0F0F0, 1819px 7px #F0F0F0, 5487px 208px #F0F0F0, 4387px 262px #F0F0F0, 2152px 54px #F0F0F0, 3169px 161px #F0F0F0, 3390px 92px #F0F0F0, 3948px 264px #F0F0F0, 696px 150px #F0F0F0, 3420px 144px #F0F0F0, 949px 19px #F0F0F0, 4702px 226px #F0F0F0, 8px 100px #F0F0F0, 354px 167px #F0F0F0, 2513px 282px #F0F0F0, 4754px 264px #F0F0F0, 4000px 21px #F0F0F0, 1894px 292px #F0F0F0, 4370px 166px #F0F0F0, 3708px 293px #F0F0F0, 432px 180px #F0F0F0, 2790px 31px #F0F0F0, 1121px 21px #F0F0F0, 5692px 170px #F0F0F0, 2365px 252px #F0F0F0, 5476px 251px #F0F0F0, 1638px 266px #F0F0F0, 1664px 207px #F0F0F0, 1615px 117px #F0F0F0, 4663px 23px #F0F0F0, 1632px 204px #F0F0F0, 3090px 266px #F0F0F0, 5590px 216px #F0F0F0, 3548px 78px #F0F0F0, 268px 133px #F0F0F0, 4118px 121px #F0F0F0, 3833px 142px #F0F0F0, 1388px 278px #F0F0F0, 2392px 219px #F0F0F0, 1814px 186px #F0F0F0, 101px 149px #F0F0F0, 5069px 245px #F0F0F0, 5496px 151px #F0F0F0, 4410px 75px #F0F0F0, 1219px 123px #F0F0F0, 1176px 194px #F0F0F0, 4018px 186px #F0F0F0, 4272px 58px #F0F0F0, 5279px 219px #F0F0F0, 4651px 185px #F0F0F0, 4121px 69px #F0F0F0, 3187px 127px #F0F0F0, 1354px 183px #F0F0F0, 4491px 36px #F0F0F0, 1693px 37px #F0F0F0, 1808px 128px #F0F0F0, 4020px 195px #F0F0F0, 5770px 65px #F0F0F0, 364px 185px #F0F0F0, 1421px 153px #F0F0F0, 2116px 172px #F0F0F0, 3904px 89px #F0F0F0, 4792px 234px #F0F0F0, 4227px 64px #F0F0F0, 2090px 117px #F0F0F0, 3579px 153px #F0F0F0, 4227px 140px #F0F0F0, 4597px 107px #F0F0F0, 1884px 134px #F0F0F0, 1515px 131px #F0F0F0, 3032px 201px #F0F0F0, 5428px 167px #F0F0F0, 205px 101px #F0F0F0, 3663px 185px #F0F0F0, 646px 276px #F0F0F0, 4040px 219px #F0F0F0, 2011px 95px #F0F0F0, 2091px 35px #F0F0F0, 1491px 21px #F0F0F0, 1373px 123px #F0F0F0, 3207px 82px #F0F0F0, 5609px 22px #F0F0F0, 679px 26px #F0F0F0, 3130px 222px #F0F0F0, 2783px 166px #F0F0F0, 4882px 217px #F0F0F0, 5329px 88px #F0F0F0, 4480px 75px #F0F0F0, 637px 201px #F0F0F0, 2282px 124px #F0F0F0, 203px 280px #F0F0F0, 898px 136px #F0F0F0, 4660px 82px #F0F0F0, 183px 287px #F0F0F0, 2380px 292px #F0F0F0, 2915px 42px #F0F0F0, 1721px 134px #F0F0F0, 5732px 126px #F0F0F0, 1472px 88px #F0F0F0, 1051px 197px #F0F0F0, 4332px 10px #F0F0F0, 3633px 67px #F0F0F0, 5419px 177px #F0F0F0, 313px 129px #F0F0F0, 5745px 158px #F0F0F0, 4699px 81px #F0F0F0, 3429px 84px #F0F0F0, 3101px 127px #F0F0F0, 5195px 206px #F0F0F0, 2235px 24px #F0F0F0, 249px 288px #F0F0F0, 2193px 59px #F0F0F0, 4526px 20px #F0F0F0, 4761px 202px #F0F0F0, 328px 227px #F0F0F0, 5470px 238px #F0F0F0, 2042px 157px #F0F0F0, 4674px 221px #F0F0F0, 2779px 4px #F0F0F0, 5402px 168px #F0F0F0, 2694px 266px #F0F0F0, 3777px 107px #F0F0F0, 3423px 246px #F0F0F0, 1540px 95px #F0F0F0, 3767px 91px #F0F0F0, 2755px 210px #F0F0F0, 5215px 112px #F0F0F0, 4714px 292px #F0F0F0, 5170px 113px #F0F0F0, 2835px 237px #F0F0F0, 3380px 272px #F0F0F0, 5046px 101px #F0F0F0, 5953px 2px #F0F0F0, 5782px 177px #F0F0F0, 2621px 279px #F0F0F0, 5808px 213px #F0F0F0, 2013px 153px #F0F0F0, 5176px 284px #F0F0F0, 1602px 208px #F0F0F0, 29px 33px #F0F0F0, 5201px 224px #F0F0F0, 4137px 160px #F0F0F0, 4563px 109px #F0F0F0, 127px 38px #F0F0F0, 4608px 101px #F0F0F0, 4850px 288px #F0F0F0, 4079px 71px #F0F0F0, 2046px 70px #F0F0F0, 4026px 19px #F0F0F0, 5458px 73px #F0F0F0, 2060px 231px #F0F0F0, 4202px 180px #F0F0F0, 3399px 113px #F0F0F0, 750px 101px #F0F0F0, 2352px 248px #F0F0F0, 2513px 50px #F0F0F0, 1519px 143px #F0F0F0, 3971px 71px #F0F0F0, 4302px 19px #F0F0F0;
  animation: twinkle 0.5s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .one:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 0.5px;
    height: 0.5px;
    background: transparent;
    box-shadow: 1966px 60px #F0F0F0, 2219px 255px #F0F0F0, 245px 168px #F0F0F0, 3508px 271px #F0F0F0, 739px 282px #F0F0F0, 1048px 33px #F0F0F0, 680px 116px #F0F0F0, 2518px 118px #F0F0F0, 4478px 216px #F0F0F0, 109px 137px #F0F0F0, 3180px 213px #F0F0F0, 3995px 17px #F0F0F0, 4553px 123px #F0F0F0, 861px 140px #F0F0F0, 1571px 137px #F0F0F0, 5762px 27px #F0F0F0, 5326px 93px #F0F0F0, 3955px 150px #F0F0F0, 4148px 119px #F0F0F0, 2768px 204px #F0F0F0, 5354px 178px #F0F0F0, 2827px 136px #F0F0F0, 516px 267px #F0F0F0, 5788px 178px #F0F0F0, 1518px 31px #F0F0F0, 1170px 163px #F0F0F0, 2489px 28px #F0F0F0, 303px 75px #F0F0F0, 2444px 88px #F0F0F0, 3537px 43px #F0F0F0, 2843px 47px #F0F0F0, 3252px 49px #F0F0F0, 5482px 94px #F0F0F0, 5993px 269px #F0F0F0, 5392px 46px #F0F0F0, 2738px 16px #F0F0F0, 2144px 253px #F0F0F0, 3308px 224px #F0F0F0, 4444px 220px #F0F0F0, 3952px 36px #F0F0F0, 692px 57px #F0F0F0, 382px 102px #F0F0F0, 1819px 7px #F0F0F0, 5487px 208px #F0F0F0, 4387px 262px #F0F0F0, 2152px 54px #F0F0F0, 3169px 161px #F0F0F0, 3390px 92px #F0F0F0, 3948px 264px #F0F0F0, 696px 150px #F0F0F0, 3420px 144px #F0F0F0, 949px 19px #F0F0F0, 4702px 226px #F0F0F0, 8px 100px #F0F0F0, 354px 167px #F0F0F0, 2513px 282px #F0F0F0, 4754px 264px #F0F0F0, 4000px 21px #F0F0F0, 1894px 292px #F0F0F0, 4370px 166px #F0F0F0, 3708px 293px #F0F0F0, 432px 180px #F0F0F0, 2790px 31px #F0F0F0, 1121px 21px #F0F0F0, 5692px 170px #F0F0F0, 2365px 252px #F0F0F0, 5476px 251px #F0F0F0, 1638px 266px #F0F0F0, 1664px 207px #F0F0F0, 1615px 117px #F0F0F0, 4663px 23px #F0F0F0, 1632px 204px #F0F0F0, 3090px 266px #F0F0F0, 5590px 216px #F0F0F0, 3548px 78px #F0F0F0, 268px 133px #F0F0F0, 4118px 121px #F0F0F0, 3833px 142px #F0F0F0, 1388px 278px #F0F0F0, 2392px 219px #F0F0F0, 1814px 186px #F0F0F0, 101px 149px #F0F0F0, 5069px 245px #F0F0F0, 5496px 151px #F0F0F0, 4410px 75px #F0F0F0, 1219px 123px #F0F0F0, 1176px 194px #F0F0F0, 4018px 186px #F0F0F0, 4272px 58px #F0F0F0, 5279px 219px #F0F0F0, 4651px 185px #F0F0F0, 4121px 69px #F0F0F0, 3187px 127px #F0F0F0, 1354px 183px #F0F0F0, 4491px 36px #F0F0F0, 1693px 37px #F0F0F0, 1808px 128px #F0F0F0, 4020px 195px #F0F0F0, 5770px 65px #F0F0F0, 364px 185px #F0F0F0, 1421px 153px #F0F0F0, 2116px 172px #F0F0F0, 3904px 89px #F0F0F0, 4792px 234px #F0F0F0, 4227px 64px #F0F0F0, 2090px 117px #F0F0F0, 3579px 153px #F0F0F0, 4227px 140px #F0F0F0, 4597px 107px #F0F0F0, 1884px 134px #F0F0F0, 1515px 131px #F0F0F0, 3032px 201px #F0F0F0, 5428px 167px #F0F0F0, 205px 101px #F0F0F0, 3663px 185px #F0F0F0, 646px 276px #F0F0F0, 4040px 219px #F0F0F0, 2011px 95px #F0F0F0, 2091px 35px #F0F0F0, 1491px 21px #F0F0F0, 1373px 123px #F0F0F0, 3207px 82px #F0F0F0, 5609px 22px #F0F0F0, 679px 26px #F0F0F0, 3130px 222px #F0F0F0, 2783px 166px #F0F0F0, 4882px 217px #F0F0F0, 5329px 88px #F0F0F0, 4480px 75px #F0F0F0, 637px 201px #F0F0F0, 2282px 124px #F0F0F0, 203px 280px #F0F0F0, 898px 136px #F0F0F0, 4660px 82px #F0F0F0, 183px 287px #F0F0F0, 2380px 292px #F0F0F0, 2915px 42px #F0F0F0, 1721px 134px #F0F0F0, 5732px 126px #F0F0F0, 1472px 88px #F0F0F0, 1051px 197px #F0F0F0, 4332px 10px #F0F0F0, 3633px 67px #F0F0F0, 5419px 177px #F0F0F0, 313px 129px #F0F0F0, 5745px 158px #F0F0F0, 4699px 81px #F0F0F0, 3429px 84px #F0F0F0, 3101px 127px #F0F0F0, 5195px 206px #F0F0F0, 2235px 24px #F0F0F0, 249px 288px #F0F0F0, 2193px 59px #F0F0F0, 4526px 20px #F0F0F0, 4761px 202px #F0F0F0, 328px 227px #F0F0F0, 5470px 238px #F0F0F0, 2042px 157px #F0F0F0, 4674px 221px #F0F0F0, 2779px 4px #F0F0F0, 5402px 168px #F0F0F0, 2694px 266px #F0F0F0, 3777px 107px #F0F0F0, 3423px 246px #F0F0F0, 1540px 95px #F0F0F0, 3767px 91px #F0F0F0, 2755px 210px #F0F0F0, 5215px 112px #F0F0F0, 4714px 292px #F0F0F0, 5170px 113px #F0F0F0, 2835px 237px #F0F0F0, 3380px 272px #F0F0F0, 5046px 101px #F0F0F0, 5953px 2px #F0F0F0, 5782px 177px #F0F0F0, 2621px 279px #F0F0F0, 5808px 213px #F0F0F0, 2013px 153px #F0F0F0, 5176px 284px #F0F0F0, 1602px 208px #F0F0F0, 29px 33px #F0F0F0, 5201px 224px #F0F0F0, 4137px 160px #F0F0F0, 4563px 109px #F0F0F0, 127px 38px #F0F0F0, 4608px 101px #F0F0F0, 4850px 288px #F0F0F0, 4079px 71px #F0F0F0, 2046px 70px #F0F0F0, 4026px 19px #F0F0F0, 5458px 73px #F0F0F0, 2060px 231px #F0F0F0, 4202px 180px #F0F0F0, 3399px 113px #F0F0F0, 750px 101px #F0F0F0, 2352px 248px #F0F0F0, 2513px 50px #F0F0F0, 1519px 143px #F0F0F0, 3971px 71px #F0F0F0, 4302px 19px #F0F0F0; }

.two {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 4305px 132px #F0F0F0, 3191px 222px #F0F0F0, 4660px 235px #F0F0F0, 2106px 47px #F0F0F0, 456px 120px #F0F0F0, 5010px 87px #F0F0F0, 5035px 268px #F0F0F0, 2645px 175px #F0F0F0, 4202px 36px #F0F0F0, 2188px 111px #F0F0F0, 2336px 131px #F0F0F0, 379px 108px #F0F0F0, 2183px 282px #F0F0F0, 4557px 58px #F0F0F0, 5962px 89px #F0F0F0, 5021px 94px #F0F0F0, 1261px 29px #F0F0F0, 1164px 9px #F0F0F0, 117px 162px #F0F0F0, 4349px 80px #F0F0F0, 1683px 72px #F0F0F0, 2748px 94px #F0F0F0, 20px 216px #F0F0F0, 5504px 47px #F0F0F0, 5513px 128px #F0F0F0, 4257px 48px #F0F0F0, 1470px 171px #F0F0F0, 3864px 89px #F0F0F0, 2127px 275px #F0F0F0, 2411px 141px #F0F0F0, 164px 35px #F0F0F0, 1165px 197px #F0F0F0, 4391px 33px #F0F0F0, 5865px 162px #F0F0F0, 2037px 166px #F0F0F0, 2313px 38px #F0F0F0, 5572px 235px #F0F0F0, 4584px 286px #F0F0F0, 855px 159px #F0F0F0, 5975px 7px #F0F0F0, 924px 264px #F0F0F0, 2745px 274px #F0F0F0, 2179px 262px #F0F0F0, 3552px 76px #F0F0F0, 46px 32px #F0F0F0, 3570px 230px #F0F0F0, 5981px 71px #F0F0F0, 1999px 173px #F0F0F0, 3844px 131px #F0F0F0, 3055px 243px #F0F0F0, 4869px 22px #F0F0F0, 3157px 155px #F0F0F0, 626px 277px #F0F0F0, 5770px 161px #F0F0F0, 5781px 125px #F0F0F0, 1748px 131px #F0F0F0, 164px 296px #F0F0F0, 5957px 107px #F0F0F0, 3929px 274px #F0F0F0, 2461px 127px #F0F0F0, 5201px 224px #F0F0F0, 4690px 200px #F0F0F0, 82px 268px #F0F0F0, 1132px 160px #F0F0F0, 4738px 177px #F0F0F0, 5166px 21px #F0F0F0, 3901px 233px #F0F0F0, 5227px 128px #F0F0F0, 4809px 197px #F0F0F0, 5483px 159px #F0F0F0, 5650px 235px #F0F0F0, 3386px 161px #F0F0F0, 5943px 242px #F0F0F0, 5312px 111px #F0F0F0, 391px 162px #F0F0F0, 5637px 241px #F0F0F0, 936px 210px #F0F0F0, 2266px 222px #F0F0F0, 4954px 55px #F0F0F0, 3762px 283px #F0F0F0, 4691px 252px #F0F0F0, 2131px 26px #F0F0F0, 3517px 198px #F0F0F0, 4734px 128px #F0F0F0, 3655px 201px #F0F0F0, 1466px 221px #F0F0F0, 2343px 41px #F0F0F0, 2270px 231px #F0F0F0, 5002px 163px #F0F0F0, 5671px 164px #F0F0F0, 983px 127px #F0F0F0, 5389px 64px #F0F0F0, 3618px 120px #F0F0F0, 155px 99px #F0F0F0, 4077px 99px #F0F0F0, 1723px 84px #F0F0F0, 5711px 125px #F0F0F0, 261px 210px #F0F0F0, 1326px 93px #F0F0F0, 2887px 224px #F0F0F0;
  animation: twinkle 0.9s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .two:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 4305px 132px #F0F0F0, 3191px 222px #F0F0F0, 4660px 235px #F0F0F0, 2106px 47px #F0F0F0, 456px 120px #F0F0F0, 5010px 87px #F0F0F0, 5035px 268px #F0F0F0, 2645px 175px #F0F0F0, 4202px 36px #F0F0F0, 2188px 111px #F0F0F0, 2336px 131px #F0F0F0, 379px 108px #F0F0F0, 2183px 282px #F0F0F0, 4557px 58px #F0F0F0, 5962px 89px #F0F0F0, 5021px 94px #F0F0F0, 1261px 29px #F0F0F0, 1164px 9px #F0F0F0, 117px 162px #F0F0F0, 4349px 80px #F0F0F0, 1683px 72px #F0F0F0, 2748px 94px #F0F0F0, 20px 216px #F0F0F0, 5504px 47px #F0F0F0, 5513px 128px #F0F0F0, 4257px 48px #F0F0F0, 1470px 171px #F0F0F0, 3864px 89px #F0F0F0, 2127px 275px #F0F0F0, 2411px 141px #F0F0F0, 164px 35px #F0F0F0, 1165px 197px #F0F0F0, 4391px 33px #F0F0F0, 5865px 162px #F0F0F0, 2037px 166px #F0F0F0, 2313px 38px #F0F0F0, 5572px 235px #F0F0F0, 4584px 286px #F0F0F0, 855px 159px #F0F0F0, 5975px 7px #F0F0F0, 924px 264px #F0F0F0, 2745px 274px #F0F0F0, 2179px 262px #F0F0F0, 3552px 76px #F0F0F0, 46px 32px #F0F0F0, 3570px 230px #F0F0F0, 5981px 71px #F0F0F0, 1999px 173px #F0F0F0, 3844px 131px #F0F0F0, 3055px 243px #F0F0F0, 4869px 22px #F0F0F0, 3157px 155px #F0F0F0, 626px 277px #F0F0F0, 5770px 161px #F0F0F0, 5781px 125px #F0F0F0, 1748px 131px #F0F0F0, 164px 296px #F0F0F0, 5957px 107px #F0F0F0, 3929px 274px #F0F0F0, 2461px 127px #F0F0F0, 5201px 224px #F0F0F0, 4690px 200px #F0F0F0, 82px 268px #F0F0F0, 1132px 160px #F0F0F0, 4738px 177px #F0F0F0, 5166px 21px #F0F0F0, 3901px 233px #F0F0F0, 5227px 128px #F0F0F0, 4809px 197px #F0F0F0, 5483px 159px #F0F0F0, 5650px 235px #F0F0F0, 3386px 161px #F0F0F0, 5943px 242px #F0F0F0, 5312px 111px #F0F0F0, 391px 162px #F0F0F0, 5637px 241px #F0F0F0, 936px 210px #F0F0F0, 2266px 222px #F0F0F0, 4954px 55px #F0F0F0, 3762px 283px #F0F0F0, 4691px 252px #F0F0F0, 2131px 26px #F0F0F0, 3517px 198px #F0F0F0, 4734px 128px #F0F0F0, 3655px 201px #F0F0F0, 1466px 221px #F0F0F0, 2343px 41px #F0F0F0, 2270px 231px #F0F0F0, 5002px 163px #F0F0F0, 5671px 164px #F0F0F0, 983px 127px #F0F0F0, 5389px 64px #F0F0F0, 3618px 120px #F0F0F0, 155px 99px #F0F0F0, 4077px 99px #F0F0F0, 1723px 84px #F0F0F0, 5711px 125px #F0F0F0, 261px 210px #F0F0F0, 1326px 93px #F0F0F0, 2887px 224px #F0F0F0; }

.three {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 145px 227px #F0F0F0, 4875px 120px #F0F0F0, 3073px 228px #F0F0F0, 3774px 8px #F0F0F0, 3619px 291px #F0F0F0, 5561px 248px #F0F0F0, 3228px 172px #F0F0F0, 5121px 49px #F0F0F0, 3674px 180px #F0F0F0, 471px 177px #F0F0F0, 3843px 264px #F0F0F0, 3379px 107px #F0F0F0, 5495px 1px #F0F0F0, 2987px 15px #F0F0F0, 3296px 170px #F0F0F0, 1407px 192px #F0F0F0, 401px 115px #F0F0F0, 3332px 186px #F0F0F0, 188px 53px #F0F0F0, 857px 255px #F0F0F0, 2341px 108px #F0F0F0, 4136px 163px #F0F0F0, 2167px 299px #F0F0F0, 3019px 233px #F0F0F0, 5150px 122px #F0F0F0, 2403px 174px #F0F0F0, 5315px 145px #F0F0F0, 4096px 48px #F0F0F0, 4265px 58px #F0F0F0, 2976px 165px #F0F0F0, 5511px 238px #F0F0F0, 509px 87px #F0F0F0, 2118px 49px #F0F0F0, 5294px 94px #F0F0F0, 4587px 149px #F0F0F0, 1016px 96px #F0F0F0, 4358px 109px #F0F0F0, 5475px 154px #F0F0F0, 1145px 38px #F0F0F0, 730px 93px #F0F0F0, 1529px 135px #F0F0F0, 2021px 101px #F0F0F0, 3388px 101px #F0F0F0, 5320px 154px #F0F0F0, 4303px 198px #F0F0F0, 5551px 180px #F0F0F0, 4903px 84px #F0F0F0, 4534px 70px #F0F0F0, 8px 157px #F0F0F0, 4035px 74px #F0F0F0;
  animation: twinkle 2s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .three:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 145px 227px #F0F0F0, 4875px 120px #F0F0F0, 3073px 228px #F0F0F0, 3774px 8px #F0F0F0, 3619px 291px #F0F0F0, 5561px 248px #F0F0F0, 3228px 172px #F0F0F0, 5121px 49px #F0F0F0, 3674px 180px #F0F0F0, 471px 177px #F0F0F0, 3843px 264px #F0F0F0, 3379px 107px #F0F0F0, 5495px 1px #F0F0F0, 2987px 15px #F0F0F0, 3296px 170px #F0F0F0, 1407px 192px #F0F0F0, 401px 115px #F0F0F0, 3332px 186px #F0F0F0, 188px 53px #F0F0F0, 857px 255px #F0F0F0, 2341px 108px #F0F0F0, 4136px 163px #F0F0F0, 2167px 299px #F0F0F0, 3019px 233px #F0F0F0, 5150px 122px #F0F0F0, 2403px 174px #F0F0F0, 5315px 145px #F0F0F0, 4096px 48px #F0F0F0, 4265px 58px #F0F0F0, 2976px 165px #F0F0F0, 5511px 238px #F0F0F0, 509px 87px #F0F0F0, 2118px 49px #F0F0F0, 5294px 94px #F0F0F0, 4587px 149px #F0F0F0, 1016px 96px #F0F0F0, 4358px 109px #F0F0F0, 5475px 154px #F0F0F0, 1145px 38px #F0F0F0, 730px 93px #F0F0F0, 1529px 135px #F0F0F0, 2021px 101px #F0F0F0, 3388px 101px #F0F0F0, 5320px 154px #F0F0F0, 4303px 198px #F0F0F0, 5551px 180px #F0F0F0, 4903px 84px #F0F0F0, 4534px 70px #F0F0F0, 8px 157px #F0F0F0, 4035px 74px #F0F0F0; }

.nav {
  position: fixed;
  right: 0; }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .nav li {
    float: left; }
  .nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px; }
  .nav li a:hover:not(.active) {
    background-color: #011627; }
  .nav .active {
    background-color: #011627; }

.nav > a {
  display: inline-block; }

.sites {
  display: flex;
  justify-content: space-around; }

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/images/placeholder.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 30px 10px #FFF;
  border-radius: 50%;
  margin: 30px;
  border: 8px solid #FFF; }
  .works h4 {
    width: 100px;
    vertical-align: bottom;
    margin-bottom: 10px;
    padding: 0;
    display: table-row;
    font-size: 0.9rem;
    align-self: flex-end; }
  .works h4:after {
    content: ' ';
    display: flex; }

.footer {
  width: 100%;
  background-color: #011627;
  text-align: center;
  color: #f0f0f0;
  height: 4em;
  padding-top: 2rem; }
