/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans: 400, 600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
@-webkit-keyframes twinkle {
  0% {
    -webkit-transform: scale(0);
    opacity: 1; }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes twinkle {
  0% {
    -moz-transform: scale(1);
    opacity: 1; }
  25% {
    -moz-transform: scale(0.5);
    opacity: 0; }
  50% {
    -moz-transform: scale(1);
    opacity: 1; }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0; }
  100% {
    -moz-transform: scale(1);
    opacity: 1; } }

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, #011627); }
  body a {
    color: #FFF;
    text-decoration: none; }
  body a:visited {
    color: #FFF;
    text-decoration: none; }

html {
  overflow: hidden; }

.content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.content-wrapper {
  display: block;
  align-content: space-between;
  min-height: 100%; }

#about, #home, .notfound-contain, #work {
  margin-top: 50px;
  padding-top: 50px; }

.skies {
  background-image: url("/images/skies.png");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.moon {
  left: 0;
  top: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 30px 10px #FFF; }

.star {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

.one {
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: 1700px 59px #F0F0F0, 2139px 201px #F0F0F0, 3034px 162px #F0F0F0, 491px 251px #F0F0F0, 4294px 23px #F0F0F0, 4072px 82px #F0F0F0, 110px 259px #F0F0F0, 904px 289px #F0F0F0, 942px 32px #F0F0F0, 3536px 255px #F0F0F0, 442px 228px #F0F0F0, 726px 154px #F0F0F0, 5402px 251px #F0F0F0, 3905px 246px #F0F0F0, 5639px 176px #F0F0F0, 874px 146px #F0F0F0, 2405px 73px #F0F0F0, 2195px 130px #F0F0F0, 348px 293px #F0F0F0, 16px 108px #F0F0F0, 1639px 171px #F0F0F0, 4863px 137px #F0F0F0, 1627px 16px #F0F0F0, 2745px 253px #F0F0F0, 2744px 110px #F0F0F0, 621px 260px #F0F0F0, 1987px 292px #F0F0F0, 2570px 185px #F0F0F0, 1502px 86px #F0F0F0, 2861px 137px #F0F0F0, 1911px 109px #F0F0F0, 4173px 205px #F0F0F0, 359px 282px #F0F0F0, 3812px 10px #F0F0F0, 5303px 42px #F0F0F0, 3417px 151px #F0F0F0, 615px 299px #F0F0F0, 728px 130px #F0F0F0, 3087px 24px #F0F0F0, 5300px 41px #F0F0F0, 1973px 167px #F0F0F0, 5728px 120px #F0F0F0, 949px 269px #F0F0F0, 1709px 133px #F0F0F0, 5566px 210px #F0F0F0, 2377px 177px #F0F0F0, 4772px 110px #F0F0F0, 205px 179px #F0F0F0, 5842px 196px #F0F0F0, 4487px 207px #F0F0F0, 3639px 44px #F0F0F0, 5833px 101px #F0F0F0, 175px 39px #F0F0F0, 2398px 224px #F0F0F0, 3774px 36px #F0F0F0, 2560px 265px #F0F0F0, 2435px 148px #F0F0F0, 4359px 272px #F0F0F0, 4034px 268px #F0F0F0, 5999px 133px #F0F0F0, 924px 98px #F0F0F0, 387px 3px #F0F0F0, 4986px 252px #F0F0F0, 4384px 61px #F0F0F0, 700px 139px #F0F0F0, 4730px 258px #F0F0F0, 1912px 112px #F0F0F0, 2584px 119px #F0F0F0, 5180px 65px #F0F0F0, 346px 157px #F0F0F0, 3010px 234px #F0F0F0, 4233px 230px #F0F0F0, 3012px 140px #F0F0F0, 912px 92px #F0F0F0, 5840px 221px #F0F0F0, 423px 55px #F0F0F0, 5283px 223px #F0F0F0, 2604px 181px #F0F0F0, 1126px 56px #F0F0F0, 1169px 65px #F0F0F0, 98px 294px #F0F0F0, 109px 119px #F0F0F0, 499px 65px #F0F0F0, 4710px 178px #F0F0F0, 3477px 182px #F0F0F0, 3198px 136px #F0F0F0, 805px 126px #F0F0F0, 789px 66px #F0F0F0, 516px 217px #F0F0F0, 3288px 251px #F0F0F0, 528px 45px #F0F0F0, 762px 190px #F0F0F0, 5225px 205px #F0F0F0, 2562px 247px #F0F0F0, 3841px 299px #F0F0F0, 4680px 56px #F0F0F0, 3824px 163px #F0F0F0, 1962px 14px #F0F0F0, 1007px 9px #F0F0F0, 389px 2px #F0F0F0, 2069px 16px #F0F0F0, 2334px 111px #F0F0F0, 3094px 270px #F0F0F0, 316px 104px #F0F0F0, 1034px 290px #F0F0F0, 4690px 101px #F0F0F0, 5986px 158px #F0F0F0, 4596px 270px #F0F0F0, 2965px 160px #F0F0F0, 5038px 105px #F0F0F0, 1610px 188px #F0F0F0, 876px 33px #F0F0F0, 4626px 238px #F0F0F0, 2978px 266px #F0F0F0, 5742px 254px #F0F0F0, 4906px 32px #F0F0F0, 87px 23px #F0F0F0, 4280px 210px #F0F0F0, 3157px 275px #F0F0F0, 655px 297px #F0F0F0, 3878px 128px #F0F0F0, 3963px 99px #F0F0F0, 742px 31px #F0F0F0, 831px 76px #F0F0F0, 4672px 288px #F0F0F0, 5601px 68px #F0F0F0, 3980px 286px #F0F0F0, 1748px 56px #F0F0F0, 5773px 242px #F0F0F0, 3445px 69px #F0F0F0, 1012px 114px #F0F0F0, 4804px 268px #F0F0F0, 3128px 9px #F0F0F0, 2605px 79px #F0F0F0, 4469px 72px #F0F0F0, 2620px 113px #F0F0F0, 3219px 238px #F0F0F0, 3844px 54px #F0F0F0, 2181px 273px #F0F0F0, 2427px 45px #F0F0F0, 5492px 71px #F0F0F0, 3494px 110px #F0F0F0, 3186px 37px #F0F0F0, 3827px 86px #F0F0F0, 527px 196px #F0F0F0, 843px 75px #F0F0F0, 1491px 299px #F0F0F0, 3912px 155px #F0F0F0, 1788px 259px #F0F0F0, 4006px 110px #F0F0F0, 2933px 148px #F0F0F0, 1871px 116px #F0F0F0, 1278px 132px #F0F0F0, 1207px 244px #F0F0F0, 5067px 285px #F0F0F0, 1206px 115px #F0F0F0, 859px 74px #F0F0F0, 925px 188px #F0F0F0, 1403px 258px #F0F0F0, 3351px 75px #F0F0F0, 4781px 113px #F0F0F0, 2349px 133px #F0F0F0, 4671px 168px #F0F0F0, 5131px 69px #F0F0F0, 1716px 197px #F0F0F0, 2703px 30px #F0F0F0, 1528px 29px #F0F0F0, 2472px 243px #F0F0F0, 3511px 89px #F0F0F0, 5025px 137px #F0F0F0, 431px 150px #F0F0F0, 190px 141px #F0F0F0, 2174px 250px #F0F0F0, 4510px 122px #F0F0F0, 936px 153px #F0F0F0, 3832px 130px #F0F0F0, 5842px 88px #F0F0F0, 5290px 239px #F0F0F0, 5609px 255px #F0F0F0, 2391px 6px #F0F0F0, 4024px 151px #F0F0F0, 2622px 215px #F0F0F0, 3893px 173px #F0F0F0, 1618px 267px #F0F0F0, 5166px 267px #F0F0F0, 4644px 153px #F0F0F0, 402px 127px #F0F0F0, 2959px 163px #F0F0F0, 2451px 242px #F0F0F0, 221px 248px #F0F0F0, 1330px 150px #F0F0F0, 1309px 34px #F0F0F0, 3655px 222px #F0F0F0, 1773px 256px #F0F0F0, 1232px 44px #F0F0F0, 2699px 269px #F0F0F0, 4230px 280px #F0F0F0, 2397px 7px #F0F0F0, 2155px 130px #F0F0F0, 3733px 112px #F0F0F0;
  animation: twinkle 0.5s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .one:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 0.5px;
    height: 0.5px;
    background: transparent;
    box-shadow: 1700px 59px #F0F0F0, 2139px 201px #F0F0F0, 3034px 162px #F0F0F0, 491px 251px #F0F0F0, 4294px 23px #F0F0F0, 4072px 82px #F0F0F0, 110px 259px #F0F0F0, 904px 289px #F0F0F0, 942px 32px #F0F0F0, 3536px 255px #F0F0F0, 442px 228px #F0F0F0, 726px 154px #F0F0F0, 5402px 251px #F0F0F0, 3905px 246px #F0F0F0, 5639px 176px #F0F0F0, 874px 146px #F0F0F0, 2405px 73px #F0F0F0, 2195px 130px #F0F0F0, 348px 293px #F0F0F0, 16px 108px #F0F0F0, 1639px 171px #F0F0F0, 4863px 137px #F0F0F0, 1627px 16px #F0F0F0, 2745px 253px #F0F0F0, 2744px 110px #F0F0F0, 621px 260px #F0F0F0, 1987px 292px #F0F0F0, 2570px 185px #F0F0F0, 1502px 86px #F0F0F0, 2861px 137px #F0F0F0, 1911px 109px #F0F0F0, 4173px 205px #F0F0F0, 359px 282px #F0F0F0, 3812px 10px #F0F0F0, 5303px 42px #F0F0F0, 3417px 151px #F0F0F0, 615px 299px #F0F0F0, 728px 130px #F0F0F0, 3087px 24px #F0F0F0, 5300px 41px #F0F0F0, 1973px 167px #F0F0F0, 5728px 120px #F0F0F0, 949px 269px #F0F0F0, 1709px 133px #F0F0F0, 5566px 210px #F0F0F0, 2377px 177px #F0F0F0, 4772px 110px #F0F0F0, 205px 179px #F0F0F0, 5842px 196px #F0F0F0, 4487px 207px #F0F0F0, 3639px 44px #F0F0F0, 5833px 101px #F0F0F0, 175px 39px #F0F0F0, 2398px 224px #F0F0F0, 3774px 36px #F0F0F0, 2560px 265px #F0F0F0, 2435px 148px #F0F0F0, 4359px 272px #F0F0F0, 4034px 268px #F0F0F0, 5999px 133px #F0F0F0, 924px 98px #F0F0F0, 387px 3px #F0F0F0, 4986px 252px #F0F0F0, 4384px 61px #F0F0F0, 700px 139px #F0F0F0, 4730px 258px #F0F0F0, 1912px 112px #F0F0F0, 2584px 119px #F0F0F0, 5180px 65px #F0F0F0, 346px 157px #F0F0F0, 3010px 234px #F0F0F0, 4233px 230px #F0F0F0, 3012px 140px #F0F0F0, 912px 92px #F0F0F0, 5840px 221px #F0F0F0, 423px 55px #F0F0F0, 5283px 223px #F0F0F0, 2604px 181px #F0F0F0, 1126px 56px #F0F0F0, 1169px 65px #F0F0F0, 98px 294px #F0F0F0, 109px 119px #F0F0F0, 499px 65px #F0F0F0, 4710px 178px #F0F0F0, 3477px 182px #F0F0F0, 3198px 136px #F0F0F0, 805px 126px #F0F0F0, 789px 66px #F0F0F0, 516px 217px #F0F0F0, 3288px 251px #F0F0F0, 528px 45px #F0F0F0, 762px 190px #F0F0F0, 5225px 205px #F0F0F0, 2562px 247px #F0F0F0, 3841px 299px #F0F0F0, 4680px 56px #F0F0F0, 3824px 163px #F0F0F0, 1962px 14px #F0F0F0, 1007px 9px #F0F0F0, 389px 2px #F0F0F0, 2069px 16px #F0F0F0, 2334px 111px #F0F0F0, 3094px 270px #F0F0F0, 316px 104px #F0F0F0, 1034px 290px #F0F0F0, 4690px 101px #F0F0F0, 5986px 158px #F0F0F0, 4596px 270px #F0F0F0, 2965px 160px #F0F0F0, 5038px 105px #F0F0F0, 1610px 188px #F0F0F0, 876px 33px #F0F0F0, 4626px 238px #F0F0F0, 2978px 266px #F0F0F0, 5742px 254px #F0F0F0, 4906px 32px #F0F0F0, 87px 23px #F0F0F0, 4280px 210px #F0F0F0, 3157px 275px #F0F0F0, 655px 297px #F0F0F0, 3878px 128px #F0F0F0, 3963px 99px #F0F0F0, 742px 31px #F0F0F0, 831px 76px #F0F0F0, 4672px 288px #F0F0F0, 5601px 68px #F0F0F0, 3980px 286px #F0F0F0, 1748px 56px #F0F0F0, 5773px 242px #F0F0F0, 3445px 69px #F0F0F0, 1012px 114px #F0F0F0, 4804px 268px #F0F0F0, 3128px 9px #F0F0F0, 2605px 79px #F0F0F0, 4469px 72px #F0F0F0, 2620px 113px #F0F0F0, 3219px 238px #F0F0F0, 3844px 54px #F0F0F0, 2181px 273px #F0F0F0, 2427px 45px #F0F0F0, 5492px 71px #F0F0F0, 3494px 110px #F0F0F0, 3186px 37px #F0F0F0, 3827px 86px #F0F0F0, 527px 196px #F0F0F0, 843px 75px #F0F0F0, 1491px 299px #F0F0F0, 3912px 155px #F0F0F0, 1788px 259px #F0F0F0, 4006px 110px #F0F0F0, 2933px 148px #F0F0F0, 1871px 116px #F0F0F0, 1278px 132px #F0F0F0, 1207px 244px #F0F0F0, 5067px 285px #F0F0F0, 1206px 115px #F0F0F0, 859px 74px #F0F0F0, 925px 188px #F0F0F0, 1403px 258px #F0F0F0, 3351px 75px #F0F0F0, 4781px 113px #F0F0F0, 2349px 133px #F0F0F0, 4671px 168px #F0F0F0, 5131px 69px #F0F0F0, 1716px 197px #F0F0F0, 2703px 30px #F0F0F0, 1528px 29px #F0F0F0, 2472px 243px #F0F0F0, 3511px 89px #F0F0F0, 5025px 137px #F0F0F0, 431px 150px #F0F0F0, 190px 141px #F0F0F0, 2174px 250px #F0F0F0, 4510px 122px #F0F0F0, 936px 153px #F0F0F0, 3832px 130px #F0F0F0, 5842px 88px #F0F0F0, 5290px 239px #F0F0F0, 5609px 255px #F0F0F0, 2391px 6px #F0F0F0, 4024px 151px #F0F0F0, 2622px 215px #F0F0F0, 3893px 173px #F0F0F0, 1618px 267px #F0F0F0, 5166px 267px #F0F0F0, 4644px 153px #F0F0F0, 402px 127px #F0F0F0, 2959px 163px #F0F0F0, 2451px 242px #F0F0F0, 221px 248px #F0F0F0, 1330px 150px #F0F0F0, 1309px 34px #F0F0F0, 3655px 222px #F0F0F0, 1773px 256px #F0F0F0, 1232px 44px #F0F0F0, 2699px 269px #F0F0F0, 4230px 280px #F0F0F0, 2397px 7px #F0F0F0, 2155px 130px #F0F0F0, 3733px 112px #F0F0F0; }

.two {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 4830px 130px #F0F0F0, 2877px 138px #F0F0F0, 5924px 105px #F0F0F0, 321px 150px #F0F0F0, 4628px 152px #F0F0F0, 5618px 117px #F0F0F0, 1057px 126px #F0F0F0, 1558px 256px #F0F0F0, 4810px 200px #F0F0F0, 1139px 32px #F0F0F0, 1310px 201px #F0F0F0, 3246px 108px #F0F0F0, 3254px 242px #F0F0F0, 5940px 75px #F0F0F0, 313px 34px #F0F0F0, 1087px 17px #F0F0F0, 4632px 137px #F0F0F0, 1940px 190px #F0F0F0, 5238px 139px #F0F0F0, 4171px 76px #F0F0F0, 5951px 279px #F0F0F0, 4620px 260px #F0F0F0, 3870px 239px #F0F0F0, 2091px 166px #F0F0F0, 4335px 91px #F0F0F0, 1469px 254px #F0F0F0, 5450px 117px #F0F0F0, 1744px 101px #F0F0F0, 2916px 245px #F0F0F0, 5352px 174px #F0F0F0, 5225px 199px #F0F0F0, 767px 161px #F0F0F0, 3972px 68px #F0F0F0, 3048px 126px #F0F0F0, 3090px 104px #F0F0F0, 3428px 49px #F0F0F0, 3232px 222px #F0F0F0, 2414px 232px #F0F0F0, 5629px 189px #F0F0F0, 2505px 20px #F0F0F0, 4732px 131px #F0F0F0, 1452px 43px #F0F0F0, 4914px 166px #F0F0F0, 2060px 59px #F0F0F0, 2364px 279px #F0F0F0, 135px 67px #F0F0F0, 2927px 80px #F0F0F0, 4262px 251px #F0F0F0, 3223px 130px #F0F0F0, 3290px 191px #F0F0F0, 5512px 89px #F0F0F0, 525px 91px #F0F0F0, 3415px 287px #F0F0F0, 2537px 154px #F0F0F0, 2991px 248px #F0F0F0, 2342px 60px #F0F0F0, 5381px 14px #F0F0F0, 3760px 89px #F0F0F0, 5912px 55px #F0F0F0, 4959px 240px #F0F0F0, 5969px 150px #F0F0F0, 5785px 183px #F0F0F0, 682px 294px #F0F0F0, 2697px 7px #F0F0F0, 2462px 1px #F0F0F0, 3262px 269px #F0F0F0, 5221px 295px #F0F0F0, 2738px 14px #F0F0F0, 1439px 132px #F0F0F0, 296px 43px #F0F0F0, 1524px 34px #F0F0F0, 3784px 188px #F0F0F0, 3734px 22px #F0F0F0, 3312px 230px #F0F0F0, 270px 275px #F0F0F0, 4635px 191px #F0F0F0, 944px 129px #F0F0F0, 1003px 111px #F0F0F0, 5785px 221px #F0F0F0, 2622px 42px #F0F0F0, 4408px 164px #F0F0F0, 3458px 202px #F0F0F0, 139px 133px #F0F0F0, 5314px 256px #F0F0F0, 1772px 239px #F0F0F0, 741px 275px #F0F0F0, 3894px 251px #F0F0F0, 4900px 4px #F0F0F0, 5826px 232px #F0F0F0, 3065px 178px #F0F0F0, 1732px 131px #F0F0F0, 3661px 115px #F0F0F0, 1573px 113px #F0F0F0, 5253px 285px #F0F0F0, 4304px 170px #F0F0F0, 5905px 282px #F0F0F0, 1138px 97px #F0F0F0, 3835px 147px #F0F0F0, 1442px 80px #F0F0F0, 5557px 71px #F0F0F0;
  animation: twinkle 0.9s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .two:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 4830px 130px #F0F0F0, 2877px 138px #F0F0F0, 5924px 105px #F0F0F0, 321px 150px #F0F0F0, 4628px 152px #F0F0F0, 5618px 117px #F0F0F0, 1057px 126px #F0F0F0, 1558px 256px #F0F0F0, 4810px 200px #F0F0F0, 1139px 32px #F0F0F0, 1310px 201px #F0F0F0, 3246px 108px #F0F0F0, 3254px 242px #F0F0F0, 5940px 75px #F0F0F0, 313px 34px #F0F0F0, 1087px 17px #F0F0F0, 4632px 137px #F0F0F0, 1940px 190px #F0F0F0, 5238px 139px #F0F0F0, 4171px 76px #F0F0F0, 5951px 279px #F0F0F0, 4620px 260px #F0F0F0, 3870px 239px #F0F0F0, 2091px 166px #F0F0F0, 4335px 91px #F0F0F0, 1469px 254px #F0F0F0, 5450px 117px #F0F0F0, 1744px 101px #F0F0F0, 2916px 245px #F0F0F0, 5352px 174px #F0F0F0, 5225px 199px #F0F0F0, 767px 161px #F0F0F0, 3972px 68px #F0F0F0, 3048px 126px #F0F0F0, 3090px 104px #F0F0F0, 3428px 49px #F0F0F0, 3232px 222px #F0F0F0, 2414px 232px #F0F0F0, 5629px 189px #F0F0F0, 2505px 20px #F0F0F0, 4732px 131px #F0F0F0, 1452px 43px #F0F0F0, 4914px 166px #F0F0F0, 2060px 59px #F0F0F0, 2364px 279px #F0F0F0, 135px 67px #F0F0F0, 2927px 80px #F0F0F0, 4262px 251px #F0F0F0, 3223px 130px #F0F0F0, 3290px 191px #F0F0F0, 5512px 89px #F0F0F0, 525px 91px #F0F0F0, 3415px 287px #F0F0F0, 2537px 154px #F0F0F0, 2991px 248px #F0F0F0, 2342px 60px #F0F0F0, 5381px 14px #F0F0F0, 3760px 89px #F0F0F0, 5912px 55px #F0F0F0, 4959px 240px #F0F0F0, 5969px 150px #F0F0F0, 5785px 183px #F0F0F0, 682px 294px #F0F0F0, 2697px 7px #F0F0F0, 2462px 1px #F0F0F0, 3262px 269px #F0F0F0, 5221px 295px #F0F0F0, 2738px 14px #F0F0F0, 1439px 132px #F0F0F0, 296px 43px #F0F0F0, 1524px 34px #F0F0F0, 3784px 188px #F0F0F0, 3734px 22px #F0F0F0, 3312px 230px #F0F0F0, 270px 275px #F0F0F0, 4635px 191px #F0F0F0, 944px 129px #F0F0F0, 1003px 111px #F0F0F0, 5785px 221px #F0F0F0, 2622px 42px #F0F0F0, 4408px 164px #F0F0F0, 3458px 202px #F0F0F0, 139px 133px #F0F0F0, 5314px 256px #F0F0F0, 1772px 239px #F0F0F0, 741px 275px #F0F0F0, 3894px 251px #F0F0F0, 4900px 4px #F0F0F0, 5826px 232px #F0F0F0, 3065px 178px #F0F0F0, 1732px 131px #F0F0F0, 3661px 115px #F0F0F0, 1573px 113px #F0F0F0, 5253px 285px #F0F0F0, 4304px 170px #F0F0F0, 5905px 282px #F0F0F0, 1138px 97px #F0F0F0, 3835px 147px #F0F0F0, 1442px 80px #F0F0F0, 5557px 71px #F0F0F0; }

.three {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2010px 18px #F0F0F0, 3147px 16px #F0F0F0, 5276px 263px #F0F0F0, 3843px 145px #F0F0F0, 912px 256px #F0F0F0, 1507px 124px #F0F0F0, 5800px 96px #F0F0F0, 1399px 285px #F0F0F0, 1821px 280px #F0F0F0, 3098px 206px #F0F0F0, 2331px 15px #F0F0F0, 1918px 99px #F0F0F0, 3911px 63px #F0F0F0, 2846px 68px #F0F0F0, 1692px 15px #F0F0F0, 1551px 231px #F0F0F0, 472px 166px #F0F0F0, 4698px 187px #F0F0F0, 5255px 44px #F0F0F0, 4118px 98px #F0F0F0, 1792px 7px #F0F0F0, 4645px 17px #F0F0F0, 4685px 119px #F0F0F0, 417px 31px #F0F0F0, 1535px 160px #F0F0F0, 5735px 17px #F0F0F0, 2488px 91px #F0F0F0, 1604px 148px #F0F0F0, 412px 215px #F0F0F0, 3455px 277px #F0F0F0, 1976px 61px #F0F0F0, 3084px 73px #F0F0F0, 4057px 78px #F0F0F0, 113px 15px #F0F0F0, 3542px 34px #F0F0F0, 3791px 207px #F0F0F0, 2630px 116px #F0F0F0, 868px 58px #F0F0F0, 4425px 173px #F0F0F0, 822px 168px #F0F0F0, 3796px 66px #F0F0F0, 4421px 192px #F0F0F0, 5451px 192px #F0F0F0, 1520px 163px #F0F0F0, 5539px 83px #F0F0F0, 4733px 166px #F0F0F0, 4163px 94px #F0F0F0, 1511px 95px #F0F0F0, 3903px 4px #F0F0F0, 762px 34px #F0F0F0;
  animation: twinkle 2s;
  animation-timing-function: ease(in-out-circ);
  animation-direction: alternate; }
  .three:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 2010px 18px #F0F0F0, 3147px 16px #F0F0F0, 5276px 263px #F0F0F0, 3843px 145px #F0F0F0, 912px 256px #F0F0F0, 1507px 124px #F0F0F0, 5800px 96px #F0F0F0, 1399px 285px #F0F0F0, 1821px 280px #F0F0F0, 3098px 206px #F0F0F0, 2331px 15px #F0F0F0, 1918px 99px #F0F0F0, 3911px 63px #F0F0F0, 2846px 68px #F0F0F0, 1692px 15px #F0F0F0, 1551px 231px #F0F0F0, 472px 166px #F0F0F0, 4698px 187px #F0F0F0, 5255px 44px #F0F0F0, 4118px 98px #F0F0F0, 1792px 7px #F0F0F0, 4645px 17px #F0F0F0, 4685px 119px #F0F0F0, 417px 31px #F0F0F0, 1535px 160px #F0F0F0, 5735px 17px #F0F0F0, 2488px 91px #F0F0F0, 1604px 148px #F0F0F0, 412px 215px #F0F0F0, 3455px 277px #F0F0F0, 1976px 61px #F0F0F0, 3084px 73px #F0F0F0, 4057px 78px #F0F0F0, 113px 15px #F0F0F0, 3542px 34px #F0F0F0, 3791px 207px #F0F0F0, 2630px 116px #F0F0F0, 868px 58px #F0F0F0, 4425px 173px #F0F0F0, 822px 168px #F0F0F0, 3796px 66px #F0F0F0, 4421px 192px #F0F0F0, 5451px 192px #F0F0F0, 1520px 163px #F0F0F0, 5539px 83px #F0F0F0, 4733px 166px #F0F0F0, 4163px 94px #F0F0F0, 1511px 95px #F0F0F0, 3903px 4px #F0F0F0, 762px 34px #F0F0F0; }

.nav {
  position: fixed;
  right: 0; }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .nav li {
    float: left; }
  .nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px; }
  .nav li a:hover:not(.active) {
    background-color: #011627; }
  .nav .active {
    background-color: #011627; }

.nav > a {
  display: inline-block; }

.footer {
  width: 100%;
  background-color: #011627;
  text-align: center;
  color: #f0f0f0;
  height: 4em;
  padding-top: 2rem; }
