@-webkit-keyframes twinkle{
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

@-moz-keyframes twinkle{
  0% {
    -moz-transform: scale(1.0);
    opacity: 1;
  }
  25% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -moz-transform: scale(1.0);
    opacity: 1;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1.0);
    opacity: 1;
  }
}